{% extends 'noadmin/nav.html' %}


{% block title %}Buscador{% endblock title %}

{% block content %}
<style>
    label{
        color: white;
    }
    main {
        margin-top: 1%;
    }

    table {
        width: 100%; 
        border-collapse: collapse; 
    }

    th, td {
        border: 1px solid #ddd; 
        padding: 15px; 
        text-align: center; 
    }

    th {
        background-color: #818181; 
        color: white; 
    }

    tr:nth-child(odd) {
        background-color: #f9f9f9; 
    }

    tr:nth-child(even) {
        background-color: #ffffff;
    }

    .btn-primary {
        background-color: #e9e9e9; 
        color: black;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btn-primary:hover {
        background-color: #818181;
        color: black;
    }
    .resultados_libros{
        margin-top: 1%;
    }
    .form_buscar {
    display: flex; 
    align-items: center;
    }
    input {
        flex: 1;
        padding: 10px;
        font-size: 16px;
        margin-right: 100px;
        height: 40px; 
        width: 800px;
    }

    #btn-buscar {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #e9e9e9;
        color: black; 
        border: none; 
        border-radius: 5px; 
        cursor: pointer;
        transition: background-color 0.3s; 
        height: 40px; 
        margin-top: auto;
        margin-bottom: 20px;
    }

    #btn-buscar:hover {
        background-color: #818181;
    }

</style>
<main class="container">
    <h1>Buscar Libros por Título</h1>
    <form method="get" class="form_buscar">
        {{ form.as_p }}
        <button type="submit" id="btn-buscar">Buscar</button>
    </form>
    <table class="usuario-list">
            <thead>
                <tr>
                    <th><strong>Titulo</strong></th>
                    <th><strong>Autor</strong></th>
                    <th><strong>Fecha Publicacion</strong></th>
                    <th><strong>Editorial</strong></th>
                    <th><strong>Stock</strong></th>
                    <th><strong>N Paginas</strong></th>
                    <th><strong>Idioma</strong></th>
                    <th><strong>Estado</strong></th>
                </tr>
            </thead>
            <div class="resultados_libros">
                <tbody>
                    {% if resultados %}
                        {% for libro in resultados %}
                            <tr>
                                <td><strong>{{ libro.titulo }}</strong></td>
                                <td>{{ libro.id_autor }}</td>
                                <td>{{libro.fpublicacion}}</td>
                                <td>{{ libro.id_editorial }}</td>
                                <td>{{ libro.stock }}</td>
                                <td>{{ libro.nro_paginas }}</td>
                                <td>{{ libro.idioma }}</td>
                                <td>{{ libro.estado }}</td>
                            </tr>
                        {% endfor %}
                        {% elif resultados is not None %}
                        <tr>
                            <td colspan="9" class="alert alert-warning" role="alert">
                                No hay libros con ese nombre.
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </div>
    </table>
</main>
{% endblock content %}