{% extends 'principal/nav.html' %}

{% block title %}Formulario Libro{% endblock title %}

{% block content %}
<style>
    main {
        text-align: center;
        margin-top: 2%;
    }

    form {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: inline-block;
        max-width: 500px;
        width: 100%;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="date"],
    input[type="number"],
    textarea,
    select {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 5px; 
        font-size: 16px; 
    }

    button {
        background-color: #e9e9e9;
        color: black;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #818181;
        color: black; 
    }
</style>

<main>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
</main>
{% endblock content %}
